* {
    scrollbar-width: thin;
    scrollbar-color: #dedede #ffffff;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgb(248, 249, 250);
}

*::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 20px;
    border: 1px solid #ffffff;
}
